body {
	background-image: url("http://i.imgur.com/gNk0Pde.jpg");
	background-size: cover;
	font-family: 'Roboto', sans-serif;
}
.side-left {
	
	position: absolute;
	left: 0px;
	height: 100%;
}
/*
background-image: url("http://i.imgur.com/gNk0Pde.jpg");
background-size: cover;
*/
.side-right {
	position: absolute;
	right: 0px;
	height: 100%;
}

.description {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 0 1em;
	width: 50%;
	cursor: auto;
	-webkit-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
}

.description > span > h1 {
	display: block;
	white-space: nowrap;
}

.name-title {
	color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/*text-shadow: 2px 2px #ff0000;*/