.b1{
	
	/* Location of the image */
	background-image: url(./img/lay/01-Early-Morning.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color:#464646;

}
.b2 {
	background: url(img/lay/02-Mid-Morning.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.b3 {
	background: url(img/lay/03-Late-Morning.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.b4 {
	background: url(img/lay/04-Early-Afternoon.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.b5 {
	background: url(img/lay/05-Mid-Afternoon.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.b6 {
	background: url(img/lay/06-Late-Afternoon.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.b7 {
	background: url(img/lay/07-Early-Evening.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.b8 {
	background: url(img/lay/08-Mid-Evening.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.b9 {
	background: url(img/lay/09-Late-Evening.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.b10 {
	background: url(img/lay/10-Early-Night.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.b11 {
	background: url(img/lay/11-Mid-Night.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.b12 {
	background: url(img/lay/12-Late-Night.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {

}
html, body, .container-table {
	height: 100%;
}
.container-table {
	display: table;
}
.vertical-center-row {
	display: table-cell;
	vertical-align: middle;
}

.head {
	font-family: 'Press Start 2P', cursive;
	color: white;
	text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black
}

.social-med {
	font-size: 0.5em;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
/* unvisited link */
.social-med a:link {
    color: #00FFFF;
	
}

/* visited link */
.social-med a:visited {
    color: #00FFFF;
}

/* mouse over link */
.social-med a:hover {
    color: #00FFFF;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* selected link */
.social-med a:active {
    color: #00FFFF;
}