.b1{
	
	/* Location of the image */
	background-image: url(./img/lay/01-Early-Morning.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color:#464646;

}
.b2 {
	background: url(img/lay/02-Mid-Morning.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.b3 {
	background: url(img/lay/03-Late-Morning.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.b4 {
	background: url(img/lay/04-Early-Afternoon.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.b5 {
	background: url(img/lay/05-Mid-Afternoon.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.b6 {
	background: url(img/lay/06-Late-Afternoon.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.b7 {
	background: url(img/lay/07-Early-Evening.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.b8 {
	background: url(img/lay/08-Mid-Evening.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.b9 {
	background: url(img/lay/09-Late-Evening.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.b10 {
	background: url(img/lay/10-Early-Night.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.b11 {
	background: url(img/lay/11-Mid-Night.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.b12 {
	background: url(img/lay/12-Late-Night.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {

}
html, body, .container-table {
	height: 100%;
}

.vertical-center-row {
	margin-top: 10%;
}

.head, .btn-text{
	
	font-family: 'Raleway', sans-serif;
	font-size: 5em;
	color: black;
	text-align: center;
	text-shadow: 0.5px 0.5px #FFF;

	
}
.btn-text {
	text-transform: uppercase;
}
.neck {
	font-family: 'Raleway', sans-serif;
	color: black;
	text-align: center;
	text-shadow: 0.5px 0.5px #FFF;


}

.social-med a:link, a:visited, a:active {
	font-family: 'Raleway', sans-serif;
	float:right;
	font-size: 1em;
	color: black;
	text-shadow: 0.5px 0.5px #FFF;

}
/* mouse over link */
.social-med a:hover {
	float:right;
	color: #FFF;
	text-shadow: 0.5px 0.5px #FFF;

	text-decoration: none;
}

ul {
	list-style-type: none;
	padding-left:0;
}

li {
	font-size: 1.5em;
}

* {
	box-sizing: border-box;
}

div .lv3{
	padding: .6em 1.5em;
}

.shadow {
	box-shadow: 0 4px #eee, 0 -4px #eee, 4px 0 #eee, -4px 0 #eee, 0 0 0 4px #999, 0 12px 0 4px #999, 0 20px #999, -8px 0 #999, 8px 0 #999, -8px 12px #999, 8px 12px #999, 0 -8px #999;
	background-color: #eee;
	opacity: 1;
}

p {
	line-height: 150%;
	font-size: 1.5em;
}

#bouttons, #submittedLabel {
	display: block;

}

ul .descript {
	padding-left:2em;
}

#submitted {
	text-align:center;
}